<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xs-6">
        <nav class="footer-nav">
          <p>
            <a href="/conduct/">Code of Conduct</a>
            <a href="http://gowebmasters.slackarchive.io/" target="_blank">Archive</a>
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01qWRPOQo8-BBB4p4VdPdtmw==&c=9UnSaCeeDeyRdXDMBiEOISUXb1fAaDvAtu7m1NONsaA=" target="_blank">Contact</a>
          </p>
        </nav>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/assets/js/pace.min.js"></script>
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5806259d994607a0"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5806259d994607a0"></script>
